*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
  }
  .Role1 {
      margin: 20px;
      padding: 20px;
      border: 1px solid rgb(11, 11, 11);
    }
    
    .btnrole {
      margin-top: 10px;
    }
    
    /* Styles for the table */
  .table5 {
      margin: 20px;
      padding: 20px;
      border: 1px solid #0e0d0d;
    }
    
    /* Styles for form labels */
  .FormLabel h6 {
      font-size: 16px;
    } 
    
    /* Styles for input fields */
  .Form.Control[type="text"] {
      width: 100%;
      padding: 100px;
      margin-bottom: 10px;
    }
    
    /* Styles for buttons */
  .Button {
      margin-top: 10px;
    }
    
    /* Styles for the table */
   table {
      width: 100%;
    }
    
  th, td { 
      padding: 10px;
      text-align: center;
    }
    
  
    th {
      background-color: #e39898;
    } 
   
    
    tr:nth-child(even) {
      background-color: #fbe0e0;
    }
    .centered-button {
      text-align: center;
    }